<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content text-center style="--background: #e3e3e3;">
  <img src="https://media.giphy.com/media/tHzqWfcfuOngQPRWEH/giphy.gif"
    style=" margin-top:2rem; width: 100vw; height:auto;">
  <p style="display:none;"><a href="https://giphy.com/gifs/digitelco-gifts-rewards-mydigirewards-tHzqWfcfuOngQPRWEH">via
      GIPHY</a></p>
  <ion-button shape="round"
    style="margin-top: 12vh; padding: 5px; height: 10vh; font-weight: 700; --background:#0e46a3;" (click)="redirect()">
    <i class="fas fa-caret-right fa-lg" style="margin-right: 4vw;"></i>
    Ready, Set, Earn!
    <i class="fas fa-caret-left fa-lg" style="margin-left: 4vw;"></i>
  </ion-button>
</ion-content>